<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">


</head>
<body>


    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary p-3">
        <a href="#" class="navbar-brand text-white"><img src="images/quickmart.png"
             width="40" height="40" alt=""> Quickmart</a>

            <!-- button for links -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
            data-bs-target="#navbarcollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarcollapse">
            <div class="navbar-nav">
                <a href="home.html" class="nav-item nav-link active btn btn-success text-white me-2">Home</a>
                <a href="about.html" class="nav-item nav-link btn btn-success text-white me-2">About</a>
                <div class="nav-item dropdown ">
                    <a href="#" class="dropdown-toggle nav-item nav-link btn btn-success text-white me-2"
                    data-bs-toggle="dropdown">Products</a>
                    <div class="dropdown-menu">
                        <a href="services.html" class="dropdown-item bg-secondary text-white">Cereals</a>
                        <a href="#" class="dropdown-item bg-secondary text-white">Drinks</a>
                        <a href="#" class="dropdown-item bg-secondary text-white">Vegetables</a>
                        <a href="#" class="dropdown-item bg-secondary text-white">Meat</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link btn btn-success text-white me-2">Contact Us</a>
            </div>
        </div>
        <!-- search form  -->
        <form action="/getproducts" method="post" class="d-flex">
            <div class="input-group">
                <input type="text" placeholder="Search"
                class="form-control" name="name">
                <input type="submit" class="btn btn-success" value="search"><i class="bi-search"></i>
<!--                <button type="submit" class="btn btn-success" >Search-->
<!--                    <i class="bi-search"></i>-->
<!--                </button>-->
            </div>
        </form>
        <a href="login.html" class="nav-link nav-item text-dark">
           <div class="dropdown ">
                                            <span>
                                                <img src="../static/images/admin.jpg" alt=""
                                                class="img-fluid rounded-circle shadow"
                                                width="30">
                                                <b>
                                                    {% if 'email' in session %}
                                                          {{ session['name']}}
                                                    {% endif %}
                                                </b>
                                            </span>
                                            <div class="dropdown-content" style="width: 100%;">
                                                  {% if 'email' in session %}
                                                          {{ session['name']}}
                                                    {% endif %}
                                                <ul>
                                                    <li>
                                                        <a href="/logout" class="mylinks"
                                                        onclick="return confirm('Are you sure?');">Logout</a>
                                                    </li>



                                                    <li>
                                                        <a href="" class="mylinks">Profile</a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="mylinks">Settings</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                 </div>

        </a>
    </nav>
    <!-- end of navbar -->



<div class="container">
<section class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>Quickmart products</h2>
            {% for row in rows %}
            <div class="col-md-3">
                <div class="card text-center mb-3" style="height:550px;">
                     <div class="card-header bg-secondary" >
                        <p class="text-white ">product promotion %</p>

                    </div>
                    <img src="../static/images/{{row[4]}}" style="height:150px; width:120px;" class="image-fluid">

                    <div class="card-body">
                        <div class="card-title"><b class="text-medium">{{row[0]}}</b></div>
                        <div class="card-text"><i class="text-small">Description : {{row[1]}}</i></div>

                    </div>
                    <div class="card-footer"><button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#mybutton"><a href="/single/{{row[0]}}" style="text-decoration:none; color:white;">Buy Now</a> </button></div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


</section>
    </div>
</body>
</html>